[submodule "external/hypercube"]
	path = external/hypercube
	url = http://cees-gitlab.Stanford.EDU/bob/hypercube.git
[submodule "external/python-solver"]
	path = external/python-solver
	url = http://cees-gitlab.Stanford.EDU/ettore88/python-solver.git
