[submodule "external/hypercube"]
	path = external/hypercube
	url = https://github.com/SEP-software/hypercube.git
	ignore=dirty
[submodule "external/python-solver"]
	path = external/python-solver
	url = https://github.com/SEP-software/python-solver.git
	ignore=dirty
[submodule "external/xtensor"]
	path = external/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
        ignore=dirty
[submodule "external/xsimd"]
	path = external/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "external/xtl"]
	path = external/xtl
	url = https://github.com/xtensor-stack/xtl.git
